<div class="center jumbotron">
<h1>Bienvenue moussaillon</h1>


<p>Veuillez vous enregistrer ou vous connecter maintenant</p>
<p><a href="<%= login_path %>"><button class="btn btn-outline-success" type="submit">Log In</button></a></p>
</div>