<% if logged_in? %>
<div class="container">
<table class="table table-hover table-dark-ligth">
  <tr>
    <h1>Liste des utilisateurs<h1>
    
    <th>Nom</th>
    <th>Organised events</th>
    <th>Attended events</th>
    <th>Profile</th>
  </tr>
  
  <% @users.each do |user| %>
    <tr>
        <td><%= user.name %></td>
        <td><%= user.created_events.count %></td>
        <td><%= user.attended_events.count%></td>
        <td><a class="btn btn-md btn-outline-secondary" href="<%= user_path(user.id) %>">View</a></td>
    </tr>
  <% end %>
</table>
</div>

<%else%>
<p>Veuillez d'abord vous identifier</p>
<%end%>


